@yellow :#baba32;
.jumbotron {
    background-color:@yellow;
    color: black;
    margin-top: 50px;
    margin-bottom: 0 px; }
  
  footer {
    padding: 10px 10px  0 10px;
    background-color:@yellow;
    margin-bottom: 0px;
    margin-top: 10px;
    margin-bottom: 0 px; }
  
  .card-hotel {
    flex: 1 200px;
    margin-top: 10px;
    margin-bottom: 0 px; }
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px; }
  
  .footer-address-icon {
    padding-right: 10px; }
  